<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title> Bucket list </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
 <style> 
    	body { background-color: #F0FFE9; }
 </style>

<body>

<div class="container">
	<div class="col-md-4">
	<h1>Bucket list</h1>
	</div>
	
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	
    <table class="table table-striped">
		<tr>
		    <th>What</th>
		    <th>Where</th>
		    <th>When</th>
		    <th>Category</th>
		   
		    <!-- <th>User</th> -->
		    <!-- <th sec:authorize="hasAuthority('ADMIN')"> </th> -->
		    
		</tr>
	 
    	<tr th:each = "task : ${tasks}">
    		<td th:text="${task.what}"></td>
    		<td th:text="${task.whereis}"></td>
    		<td th:text="${task.whenis}"></td>
    		<td th:text="${task.category.name}"></td>
    		<!-- <td th:text="${task.username.username}"></td> -->
    	 
    		
    		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${task.id})}" class="btn btn-xs btn-danger">Delete</a></td> 
    		
 			
 			<td> <!-- sec:authorize="hasAuthority('ADMIN')" --> <a th:href="@{/edit/{id}(id=${task.id})}" class="btn btn-warning">Edit</a></td>
 			
    	</tr>
     </table>
	 <a href="/add" class="btn btn-success" >Add Task</a> 
	 </div>   	
</body>
</html>